<!DOCTYPE html>
<html>
  <head>
    <title>RailsTask1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <li><a href="#">やまもんblog</a></li>
        <li><a href="#">トップページ</a></li>
        <li><a href="blogs/new">いまどうしてる？</a></li>
      </ul>
    </header>
    <%= yield %>
    <footer>
      <p>運営会社やまもん株式会社</p>
      <p>© 2015-2016 DIVE INTO CODE Corp.</p>
    </footer>
  </body>
</html>
